
/* NAVBAR */
.navbar {
  background-color: white;
  border-bottom: 6px solid #1A0035;
  margin-bottom: 25px;

}

.navbar a {
  color:#1A0035;
  text-decoration: none;
  font-weight: bold;
  
  /* padding-bottom: 25 px; */
  
}

.navbar a:hover {
  color: #FF4A59;
}

.logo {
  height: 45px;
}

/* MAP AND CARDS PAGE */
input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
}

.app-grid {
  display: grid; 
  grid-template-columns: .5fr 1fr .5fr;
  /* background: #1A0035; */
 
}     

#frontCard {
  cursor: pointer
}

/* HOME PAGE */
.home {
  text-align: center;
  height:100%
}

.home #title {
  height: 250px;
}

.home #body {
  font-style: italic;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.home #home-page-logo {
  height: 300px;
}
 
.flippy-cardContainer  :hover {
  /* padding: 0; */
  color: #551f8f;
  /* background-color: grey; */
  /* margin-top: 25px; */
}

/* MAP */
.map {
  margin-left: 35px;
}